<div>
    <h4>Edit Aeroplane Details</h4>

    <%= render 'form' %>
    <br>
    <%= link_to 'Show', @aeroplane, class: 'btn btn-info' %>
    &nbsp;
    <%= link_to 'Back', aeroplanes_path, class: 'btn btn-danger' %>
</div>